body{
	padding-top: 0px;
}

#menu li {
    display:inline;
    margin: auto;
}

#foto_perfil{
	width: 50%; margin: auto;
}
	
#nombre_usuario{
	margin: auto;
}

#menu{
	align-items: center;margin: auto;
}

#ul_menu{
	text-decoration: none; 
	list-style:none; 
	text-align: center;
}

#div_chat{
	background: #CEE3F6; 
	border-radius: 10px; 
	padding: 10px;
}

#chat{
	height: 450px; 
	overflow: auto;
	padding: 20px; 
	border-radius: 10px; 
	background: white; 
	margin-top: 10px; 
	margin: 10px;
}

#es_chat{
	padding: 10px;
}

#conectados{
	height: 500px; overflow: auto;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #CEE3F6;
}

#resultado_busqueda {
    padding-left: 30px;
    margin-top: 10px;
}

.sinborde {
    border: 0;
}
