<style type="text/css">
    .sinborde {
        border: 0;
    }
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$("#busqueda_persona").bind("change",consulta_persona);
	});

	function consulta_persona(){
 	  	if ($("#busqueda_persona").val()===""){
            alert("Por favor llene el campo de busqueda");
        }else{
            nombre=$("#busqueda_persona").val();

        $.ajax({
            type: 'POST',
            async: true,
            url: 'ajax/consulta_personas.php',
            data: {
                nombre,
                usuario
            },
            success: function(data){

                html="";

                if (data.error==1) {
                    Lobibox.notify("error", {
                    size: 'mini',
                    rounded: true,
                    delay: false,
                    position: 'center top', 
                    msg: 'No se encontraron registros'
                    });
                }
                else{
                    $(data.personas).each(function(){
                        html+="<tr><td width='10%'><img src='"+$(this)[0].foto_perfil+"' style='width: 80%;border-radius:30px;'></td><td width='80%'><h4>"+ $(this)[0].nombres +"<h4></td><td width='10%'><button class='btn btn-info' id='"+$(this)[0].codigo_usuario+"' onclick='agregar("+$(this)[0].codigo_usuario+")'><i class='fas fa-user-plus'></i></button></td></tr><br><hr>";
                    });
                    $("#tbl_busqueda").html(html);
                }

            },
            dataType: 'json'
        });
        }
    }

    function agregar(codigo_usuario){
        $.ajax({
            type: 'POST',
            async: true,
            url: 'ajax/agregar_amigo.php',
            data: {
                codigo_usuario,
                usuario
            },
            success: function(data){
                if (data.resultado==1){
                    $("#"+codigo_usuario+"").html("<i class='fas fa-user-check'></i>");
                }
                else{
                    $("#"+codigo_usuario+"").css("display","none");
                    alert("Ya eres amigo de esta persona");
                }
            },
            dataType: 'json'
        });   
    }      
</script>

<div id="div_buscar_amigos" >
    <div class="col-lg-9">
        <input type="text" name="" id="busqueda_persona" placeholder="conoce personas" class="form-control sinborde">
    </div>

    <div class="col-lg-12" id="resultado_busqueda">
        <div class="row">
            <table id="tbl_busqueda">
                
            </table>
        </div>
    </div>
</div>